.container {
  /* width: 100vw; */
}

.div1 {
  padding: 100px;
  font-family: "Poppins", sans-serif;
}

.heading {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: var(--black);
  margin: 0 0 20px 0;
}

.subHeading {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  margin: 0 0 40px 0;
}

.div1Heading {
  font-size: 48px;
  font-weight: 600;
  margin: 0 0 80px 0;
  text-align: center;
  color: var(--black);
  line-height: 0%;
}

.categoryOuterDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  /* width: fit-content; */
}

.categoryDiv {
  border: 1px solid var(--gray2);
  padding: 50px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s;
}

.categoryDiv:hover {
  transform: scale(1.01);
}

.categoryDiv img {
  width: 200px;
  height: 200px;
}

.div2 {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: var(--gray2);
}

.div4 {
  background-image: url("/images/home_page/image2.png");
  padding: 100px;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

.div4Heading {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 50px 0;
  text-align: center;
  color: var(--yellow);
}

.carouselContainer {
  max-width: 560px;
}

.reviewCard {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewContent {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 70px 20px 20px 20px;
}

.profilePic {
  height: 85px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: -40px;
  z-index: 2;
  /* position: absolute;
  top: -50px; */
}

.reviewDesc {
  text-align: center;
  margin: 0;
  font-size: 18px;
}

.userName {
  margin: 0;
  font-size: 16px;
  color: var(--orange);
  font-weight: 700;
}

.div5 {
  padding: 100px;
}

@media only screen and (max-width: 1300px) {
  .div2 {
    padding: 100px 50px;
    gap: 70px;
  }

  .div2Image {
    width: 500px;
  }
}

@media only screen and (max-width: 1250px) {
  .div4 {
    padding: 100px 0 100px 100px;
  }

  .div1 {
    padding: 100px 50px;
  }
}

@media only screen and (max-width: 1100px) {
  .heading {
    font-size: 28px;
  }

  .div1 {
    padding: 50px;
  }

  .div2 {
    padding: 80px 50px 50px 50px;
    gap: 70px;
    flex-direction: column;
  }

  .div4 {
    padding: 50px 0 50px 50px;
  }

  .carouselContainer {
    max-width: 450px;
  }

  .reviewCard {
    padding: 0 70px;
  }

  .div1Heading,
  .div4Heading {
    font-size: 32px;
  }

  .reviewDesc {
    font-size: 16px;
  }

  .userName {
    font-size: 15px;
  }

  .div5 {
    padding: 50px;
  }
}

@media only screen and (max-width: 550px) {
  .heading {
    font-size: 24px;
  }

  .subHeading {
    font-size: 15px;
  }

  .div1 {
    padding: 50px 20px;
  }

  .div1Heading {
    font-size: 28px;
    margin-bottom: 50px;
  }

  .categoryOuterDiv {
    padding-bottom: 30px;
  }

  .categoryDiv {
    padding: 30px 30px 10px 30px;
  }

  .div2 {
    padding: 50px 20px 30px 30px;
    gap: 50px;
  }

  .div2Image {
    width: 90vw;
  }

  .div4 {
    padding: 50px 20px;
  }

  .carouselContainer {
    width: inherit;
  }

  .reviewCard {
    padding: 0 0 30px 0;
  }

  .div4Heading {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .reviewDesc {
    font-size: 15px;
  }

  .userName {
    font-size: 14px;
  }

  .div5 {
    padding: 50px 20px;
  }
}
